.flows.json.backup
[
    {
        "id": "a87b341c1947bfb2",
        "type": "tab",
        "label": "SMUX Bot",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9ef52be8e50ac20f",
        "type": "airtable",
        "name": "SMUX DBMS"
    },
    {
        "id": "e9698b316b6bbdbc",
        "type": "chatbot-telegram-node",
        "botname": "${BOT_NAME}",
        "usernames": "",
        "token": "${BOT_TOKEN}",
        "providerToken": "",
        "polling": "1000",
        "store": "",
        "log": "",
        "debug": false,
        "webHook": "",
        "connectMode": "polling"
    },
    {
        "id": "4ece81d070da93a1",
        "type": "airtable out",
        "z": "a87b341c1947bfb2",
        "airtable": "9ef52be8e50ac20f",
        "operation": "select",
        "outputType": "array",
        "table": "Members",
        "name": "Get user record",
        "x": 940,
        "y": 1800,
        "wires": [
            [
                "6f91f3d280a0f809"
            ]
        ]
    },
    {
        "id": "514d2caae512a466",
        "type": "function",
        "z": "a87b341c1947bfb2",
        "name": "userId to record",
        "func": "var userId = msg.originalMessage.from.id;\nmsg.payload = {\"filterByFormula\":\"{utid}='\"+userId+\"'\"};\n//msg.payload = {\"fields\":[\"Name\",\"Gender\",\"Team\"],\"filterByFormula\":\"{utid}='\"+userId+\"'\"};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 1800,
        "wires": [
            [
                "4ece81d070da93a1"
            ]
        ]
    },
    {
        "id": "8d16b7af45cde803",
        "type": "switch",
        "z": "a87b341c1947bfb2",
        "name": "check if has fields",
        "property": "newUser",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": true,
        "outputs": 2,
        "x": 1350,
        "y": 1800,
        "wires": [
            [
                "9ed5ca5a1ec8438a"
            ],
            [
                "016f56730b2decde",
                "c3ba7c7a363a3cee"
            ]
        ]
    },
    {
        "id": "c3ba7c7a363a3cee",
        "type": "chatbot-message",
        "z": "a87b341c1947bfb2",
        "name": "sign up prompt",
        "message": [
            {
                "message": "Hello {{firstName}}! Welcome to the SMUXploration Crew Bot! It seems like this is your first time, [please tap here to sign up](https://airtable.com/shrVCvhRsH701DBdl).\n\nThis is your unique Telegram code (do not share it with anyone!):"
            }
        ],
        "language": "none",
        "x": 1560,
        "y": 1660,
        "wires": [
            [
                "d6e525d6b003bfd6"
            ]
        ]
    },
    {
        "id": "9ed5ca5a1ec8438a",
        "type": "debug",
        "z": "a87b341c1947bfb2",
        "name": "switch output 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1560,
        "y": 1620,
        "wires": []
    },
    {
        "id": "016f56730b2decde",
        "type": "debug",
        "z": "a87b341c1947bfb2",
        "name": "switch output 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1580,
        "y": 1800,
        "wires": []
    },
    {
        "id": "50996036bfc84db0",
        "type": "chatbot-telegram-receive",
        "z": "a87b341c1947bfb2",
        "bot": "e9698b316b6bbdbc",
        "botProduction": "",
        "x": 90,
        "y": 1120,
        "wires": [
            [
                "7041c16ccf81de33",
                "a7877f7b0225beb7"
            ]
        ]
    },
    {
        "id": "c782b6880de1c17d",
        "type": "chatbot-telegram-send",
        "z": "a87b341c1947bfb2",
        "bot": "e9698b316b6bbdbc",
        "botProduction": "",
        "track": true,
        "passThrough": false,
        "errorOutput": false,
        "outputs": 1,
        "x": 2570,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "6f91f3d280a0f809",
        "type": "function",
        "z": "a87b341c1947bfb2",
        "name": "process airtable result",
        "func": "if (msg.payload.length != 0) {\n    msg.userData = msg.payload[0];\n    msg.newUser = false;\n    msg.userDataMsg = JSON.stringify(msg.userData.fields, null, \"x \");\n} else {\n    msg.newUser = true;\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 1800,
        "wires": [
            [
                "8d16b7af45cde803",
                "f7675537a9afce93"
            ]
        ]
    },
    {
        "id": "f7675537a9afce93",
        "type": "debug",
        "z": "a87b341c1947bfb2",
        "name": "airtable output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 1720,
        "wires": []
    },
    {
        "id": "45460bf7f072c9b2",
        "type": "comment",
        "z": "a87b341c1947bfb2",
        "name": "first time user",
        "info": "",
        "x": 2010,
        "y": 240,
        "wires": []
    },
    {
        "id": "6666afb768027bbc",
        "type": "comment",
        "z": "a87b341c1947bfb2",
        "name": "existing user",
        "info": "",
        "x": 1870,
        "y": 380,
        "wires": []
    },
    {
        "id": "1aa15878fa8cb82f",
        "type": "chatbot-rules",
        "z": "a87b341c1947bfb2",
        "name": "Message filter",
        "rules": [
            {
                "type": "command",
                "command": "/help"
            },
            {
                "type": "command",
                "command": "/start"
            },
            {
                "type": "command",
                "command": "/update"
            },
            {
                "type": "command",
                "command": "/faq"
            },
            {
                "type": "command",
                "command": "/pdpa"
            },
            {
                "type": "catchAll"
            }
        ],
        "outputs": 6,
        "x": 760,
        "y": 1040,
        "wires": [
            [
                "fb175c17bd951097"
            ],
            [
                "ce4f9657c9bd5433"
            ],
            [
                "a8f7b1cd805ad9e8"
            ],
            [
                "b423a03108b95589"
            ],
            [
                "7fae7b0a9f5e348c"
            ],
            [
                "af06b4f599545231"
            ]
        ]
    },
    {
        "id": "1a67a793fe52b32a",
        "type": "comment",
        "z": "a87b341c1947bfb2",
        "name": "/start",
        "info": "",
        "x": 950,
        "y": 420,
        "wires": []
    },
    {
        "id": "2d1fd9907da7deed",
        "type": "chatbot-message",
        "z": "a87b341c1947bfb2",
        "name": "commands message",
        "message": [
            {
                "message": "Please use the following commands:\n/update - update your personal particulars\n/join - sign up for an activity/view activities\n/faq - view frequently asked questions"
            }
        ],
        "language": "none",
        "x": 1060,
        "y": 360,
        "wires": [
            [
                "4dc0540c47fe580e"
            ]
        ]
    },
    {
        "id": "5de05c89711e69c6",
        "type": "comment",
        "z": "a87b341c1947bfb2",
        "name": "for joining activities",
        "info": "",
        "x": 990,
        "y": 620,
        "wires": []
    },
    {
        "id": "d6e525d6b003bfd6",
        "type": "chatbot-message",
        "z": "a87b341c1947bfb2",
        "name": "tele code",
        "message": [
            {
                "message": "```{{userId}}```"
            }
        ],
        "language": "none",
        "x": 1740,
        "y": 1660,
        "wires": [
            [
                "a9256aef9c3e81f3"
            ]
        ]
    },
    {
        "id": "a9256aef9c3e81f3",
        "type": "chatbot-params",
        "z": "a87b341c1947bfb2",
        "name": "add markdown",
        "params": [
            {
                "platform": "telegram",
                "name": "parseMode",
                "value": "Markdown"
            },
            {
                "platform": "telegram",
                "name": "disableWebPagePreview",
                "value": true
            }
        ],
        "outputs": 1,
        "x": 1900,
        "y": 1660,
        "wires": [
            [
                "fa6dd98fcf431af3"
            ]
        ]
    },
    {
        "id": "ce4f9657c9bd5433",
        "type": "link out",
        "z": "a87b341c1947bfb2",
        "name": "/start",
        "links": [
            "18789953b0cbafec"
        ],
        "x": 935,
        "y": 1000,
        "wires": []
    },
    {
        "id": "cd19e85e934feaf3",
        "type": "link in",
        "z": "a87b341c1947bfb2",
        "name": "commands message",
        "links": [
            "594ed82c6fe11e42",
            "fb175c17bd951097",
            "5218694552e9686b",
            "615524b78415fcc0"
        ],
        "x": 915,
        "y": 360,
        "wires": [
            [
                "2d1fd9907da7deed"
            ]
        ]
    },
    {
        "id": "fb175c17bd951097",
        "type": "link out",
        "z": "a87b341c1947bfb2",
        "name": "/help",
        "links": [
            "cd19e85e934feaf3"
        ],
        "x": 935,
        "y": 940,
        "wires": []
    },
    {
        "id": "aea2fb53c19f88ad",
        "type": "comment",
        "z": "a87b341c1947bfb2",
        "name": "/help",
        "info": "",
        "x": 950,
        "y": 320,
        "wires": []
    },
    {
        "id": "bb3aaa74a63775aa",
        "type": "airtable out",
        "z": "a87b341c1947bfb2",
        "airtable": "9ef52be8e50ac20f",
        "operation": "select",
        "outputType": "array",
        "table": "Members",
        "name": "Get user record",
        "x": 1240,
        "y": 560,
        "wires": [
            [
                "b8066f8207efc5a3"
            ]
        ]
    },
    {
        "id": "f2f3b752f7706aed",
        "type": "function",
        "z": "a87b341c1947bfb2",
        "name": "userId to record",
        "func": "var userId = msg.originalMessage.from.id;\nmsg.payload = {\"fields\":[\"update link\"], \"filterByFormula\":\"{utid}='\"+userId+\"'\"};\n//msg.payload = {\"fields\":[\"Name\",\"Gender\",\"Team\"],\"filterByFormula\":\"{utid}='\"+userId+\"'\"};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 560,
        "wires": [
            [
                "bb3aaa74a63775aa"
            ]
        ]
    },
    {
        "id": "bacde1f6040de05e",
        "type": "comment",
        "z": "a87b341c1947bfb2",
        "name": "/update",
        "info": "",
        "x": 950,
        "y": 520,
        "wires": []
    },
    {
        "id": "ceb289c6398d70e5",
        "type": "link in",
        "z": "a87b341c1947bfb2",
        "name": "update",
        "links": [
            "a8f7b1cd805ad9e8"
        ],
        "x": 915,
        "y": 560,
        "wires": [
            [
                "f2f3b752f7706aed"
            ]
        ]
    },
    {
        "id": "a8f7b1cd805ad9e8",
        "type": "link out",
        "z": "a87b341c1947bfb2",
        "name": "/update",
        "links": [
            "ceb289c6398d70e5"
        ],
        "x": 935,
        "y": 1060,
        "wires": []
    },
    {
        "id": "b8066f8207efc5a3",
        "type": "function",
        "z": "a87b341c1947bfb2",
        "name": "get update link",
        "func": "if (msg.payload.length != 0) {\n    msg.userData = msg.payload[0];\n    msg.newUser = false;\n} else {\n    msg.newUser = true;\n}\n\nmsg.updateLink = JSON.stringify(msg.userData.fields).split(\"\\\"\")[3];\n// console.log(msg.updateLink)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1420,
        "y": 560,
        "wires": [
            [
                "4b36c8ef14e9873e"
            ]
        ]
    },
    {
        "id": "4b36c8ef14e9873e",
        "type": "chatbot-message",
        "z": "a87b341c1947bfb2",
        "name": "placeholder",
        "message": [
            {
                "message": "placeholder"
            }
        ],
        "language": "none",
        "x": 1610,
        "y": 560,
        "wires": [
            [
                "304f3f78dfff3a62",
                "769d8e06beeb87ed"
            ]
        ]
    },
    {
        "id": "fa6dd98fcf431af3",
        "type": "link out",
        "z": "a87b341c1947bfb2",
        "name": "sign up end point",
        "links": [
            "154bd3f01ce93ae4"
        ],
        "x": 2015,
        "y": 1660,
        "wires": []
    },
    {
        "id": "154bd3f01ce93ae4",
        "type": "link in",
        "z": "a87b341c1947bfb2",
        "name": "tele endpoint sender",
        "links": [
            "fa6dd98fcf431af3",
            "4dc0540c47fe580e",
            "d3f3e9e14e3687e5",
            "779668e31c92bef0",
            "56225c5e7455a971",
            "4c9107a9dd15aebd",
            "53fd5d920f313a16",
            "bc8995bc9593719d",
            "f5cdee4a9f14aeb1"
        ],
        "x": 2435,
        "y": 480,
        "wires": [
            [
                "c782b6880de1c17d"
            ]
        ]
    },
    {
        "id": "4dc0540c47fe580e",
        "type": "link out",
        "z": "a87b341c1947bfb2",
        "name": "commands end point",
        "links": [
            "154bd3f01ce93ae4"
        ],
        "x": 1195,
        "y": 360,
        "wires": []
    },
    {
        "id": "d3f3e9e14e3687e5",
        "type": "link out",
        "z": "a87b341c1947bfb2",
        "name": "update endpoint",
        "links": [
            "154bd3f01ce93ae4"
        ],
        "x": 2095,
        "y": 560,
        "wires": []
    },
    {
        "id": "304f3f78dfff3a62",
        "type": "function",
        "z": "a87b341c1947bfb2",
        "name": "craft message",
        "func": "msg.payload.content = \"[Tap here](\" + msg.updateLink + \") to update your personal particulars.\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1800,
        "y": 560,
        "wires": [
            [
                "49a22934c0132de8"
            ]
        ]
    },
    {
        "id": "49a22934c0132de8",
        "type": "chatbot-params",
        "z": "a87b341c1947bfb2",
        "name": "add markdown",
        "params": [
            {
                "platform": "telegram",
                "name": "parseMode",
                "value": "Markdown"
            },
            {
                "platform": "telegram",
                "name": "disableWebPagePreview",
                "value": true
            }
        ],
        "outputs": 1,
        "x": 1980,
        "y": 560,
        "wires": [
            [
                "d3f3e9e14e3687e5"
            ]
        ]
    },
    {
        "id": "769d8e06beeb87ed",
        "type": "debug",
        "z": "a87b341c1947bfb2",
        "name": "here!",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1610,
        "y": 520,
        "wires": []
    },
    {
        "id": "f0a06b14da9dac27",
        "type": "function",
        "z": "a87b341c1947bfb2",
        "name": "command processing",
        "func": "//takes any commands and splits it to command and params\nmsg.userId = msg.payload.chatId;\nmsg.commandParams = null;\nmsg.command = msg.payload.content.split(\"_\")[0];\nmsg.commandParams = msg.payload.content.split(\"_\")[1];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 680,
        "wires": [
            [
                "1cbb2bb19e0fcf5f"
            ]
        ]
    },
    {
        "id": "f3096bfec7a5bebc",
        "type": "link in",
        "z": "a87b341c1947bfb2",
        "name": "command processing out",
        "links": [
            "af06b4f599545231"
        ],
        "x": 915,
        "y": 680,
        "wires": [
            [
                "f0a06b14da9dac27"
            ]
        ]
    },
    {
        "id": "af06b4f599545231",
        "type": "link out",
        "z": "a87b341c1947bfb2",
        "name": "all other inputs",
        "links": [
            "f3096bfec7a5bebc"
        ],
        "x": 935,
        "y": 1180,
        "wires": []
    },
    {
        "id": "6ade8671e5535a1b",
        "type": "switch",
        "z": "a87b341c1947bfb2",
        "name": "/join params",
        "property": "activityOpen",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": true,
        "outputs": 2,
        "x": 1570,
        "y": 660,
        "wires": [
            [
                "eae286ea06837d7f"
            ],
            [
                "cced5cd28e2d9c9a"
            ]
        ]
    },
    {
        "id": "1cbb2bb19e0fcf5f",
        "type": "switch",
        "z": "a87b341c1947bfb2",
        "name": "is join?",
        "property": "command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/join",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1240,
        "y": 680,
        "wires": [
            [
                "fdd2ed4f96653f91"
            ],
            [
                "5218694552e9686b"
            ]
        ]
    },
    {
        "id": "5218694552e9686b",
        "type": "link out",
        "z": "a87b341c1947bfb2",
        "name": "all other commands",
        "links": [
            "cd19e85e934feaf3"
        ],
        "x": 1355,
        "y": 700,
        "wires": []
    },
    {
        "id": "5cf693b9ca27f0b7",
        "type": "function",
        "z": "a87b341c1947bfb2",
        "name": "activity get request",
        "func": "msg.payload = {\"fields\":[\"Activity Type\",\"Start Date Time\",\"edmlink\"],\"filterByFormula\":\"{uaid}='\"+msg.commandParams+\"'\"};\n//msg.payload = {\"fields\":[\"Name\",\"Gender\",\"Team\"],\"filterByFormula\":\"{utid}='\"+userId+\"'\"};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 2000,
        "wires": [
            [
                "83691eeac594bc02"
            ]
        ]
    },
    {
        "id": "83691eeac594bc02",
        "type": "airtable out",
        "z": "a87b341c1947bfb2",
        "airtable": "9ef52be8e50ac20f",
        "operation": "select",
        "outputType": "array",
        "table": "Activities",
        "name": "Get activity record",
        "x": 950,
        "y": 2000,
        "wires": [
            [
                "f236c3b01769b7ab",
                "04df8bf7e3ed0b17"
            ]
        ]
    },
    {
        "id": "f236c3b01769b7ab",
        "type": "function",
        "z": "a87b341c1947bfb2",
        "name": "process result",
        "func": "if (msg.payload.length != 0) {\n    msg.activityId = msg.payload[0].id;\n    msg.activity = JSON.parse(JSON.stringify(msg.payload[0]));\n} else {\n    msg.activity = null;\n}\n\nconsole.log(JSON.stringify(msg.activity));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 2000,
        "wires": [
            [
                "c9bda0fd36c1f44c"
            ]
        ]
    },
    {
        "id": "04df8bf7e3ed0b17",
        "type": "debug",
        "z": "a87b341c1947bfb2",
        "name": "before process",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 1940,
        "wires": []
    },
    {
        "id": "66b31309b26cfd4b",
        "type": "chatbot-message",
        "z": "a87b341c1947bfb2",
        "name": "successfully joined",
        "message": [
            {
                "message": "placeholder"
            }
        ],
        "language": "none",
        "x": 1470,
        "y": 2000,
        "wires": [
            [
                "1b7d20f39f675840"
            ]
        ]
    },
    {
        "id": "c9bda0fd36c1f44c",
        "type": "switch",
        "z": "a87b341c1947bfb2",
        "name": "",
        "property": "activity",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1290,
        "y": 2000,
        "wires": [
            [
                "66b31309b26cfd4b"
            ],
            []
        ]
    },
    {
        "id": "cced5cd28e2d9c9a",
        "type": "chatbot-message",
        "z": "a87b341c1947bfb2",
        "name": "no activity found",
        "message": [
            {
                "message": "\n"
            }
        ],
        "language": "none",
        "x": 2000,
        "y": 880,
        "wires": [
            [
                "b98084a124a345a7"
            ]
        ]
    },
    {
        "id": "56225c5e7455a971",
        "type": "link out",
        "z": "a87b341c1947bfb2",
        "name": "errot endpoint",
        "links": [
            "154bd3f01ce93ae4"
        ],
        "x": 2695,
        "y": 880,
        "wires": []
    },
    {
        "id": "1b7d20f39f675840",
        "type": "function",
        "z": "a87b341c1947bfb2",
        "name": "craft message",
        "func": "msg.payload.content = \"Successfully joined \" + msg.activity.fields[\"Activity Type\"] + \"\\nTime: \" + msg.activity.fields[\"Start Date Time\"] + \"\\n[More information](\" + msg.activity.fields[\"edmlink\"] + \")\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1660,
        "y": 2000,
        "wires": [
            [
                "6fd6f5e5192f41e5",
                "5a76d508ea1e28aa"
            ]
        ]
    },
    {
        "id": "6fd6f5e5192f41e5",
        "type": "chatbot-params",
        "z": "a87b341c1947bfb2",
        "name": "add markdown",
        "params": [
            {
                "platform": "telegram",
                "name": "parseMode",
                "value": "Markdown"
            },
            {
                "platform": "telegram",
                "name": "disableWebPagePreview",
                "value": true
            }
        ],
        "outputs": 1,
        "x": 1840,
        "y": 2000,
        "wires": [
            []
        ]
    },
    {
        "id": "4c9107a9dd15aebd",
        "type": "link out",
        "z": "a87b341c1947bfb2",
        "name": "update endpoint",
        "links": [
            "154bd3f01ce93ae4"
        ],
        "x": 3195,
        "y": 680,
        "wires": []
    },
    {
        "id": "5a76d508ea1e28aa",
        "type": "debug",
        "z": "a87b341c1947bfb2",
        "name": "after process",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1580,
        "y": 2060,
        "wires": []
    },
    {
        "id": "b423a03108b95589",
        "type": "link out",
        "z": "a87b341c1947bfb2",
        "name": "/faq",
        "links": [
            "fe79ef478e581439"
        ],
        "x": 935,
        "y": 1100,
        "wires": []
    },
    {
        "id": "fe79ef478e581439",
        "type": "link in",
        "z": "a87b341c1947bfb2",
        "name": "",
        "links": [
            "b423a03108b95589"
        ],
        "x": 915,
        "y": 780,
        "wires": [
            [
                "95cf9e699e883648"
            ]
        ]
    },
    {
        "id": "7695d28ae623f8ac",
        "type": "comment",
        "z": "a87b341c1947bfb2",
        "name": "/faq",
        "info": "",
        "x": 950,
        "y": 740,
        "wires": []
    },
    {
        "id": "95cf9e699e883648",
        "type": "chatbot-message",
        "z": "a87b341c1947bfb2",
        "name": "faq message",
        "message": [
            {
                "message": "*How do I withdraw from an activity?*\nPlease contact an exco member from the respective team to withdraw from an activity.\n\n*PDPA Information*\n/pdpa\n\nContact @marcusgohsh for any further questions about this bot and its usage, or if you spot a bug :ladybug:."
            }
        ],
        "language": "none",
        "x": 1030,
        "y": 780,
        "wires": [
            [
                "d51adaa9e6e20855"
            ]
        ]
    },
    {
        "id": "044a155083cee857",
        "type": "chatbot-message",
        "z": "a87b341c1947bfb2",
        "name": "pdpa message",
        "message": [
            {
                "message": "By using this Telegram Bot, you agree that Singapore Management University (SMU) as represented by SMUXploration Crew, may collect, use and disclose your personal data that you provide in this Telegram Bot for the following purpose(s): i) Administrative and safety matters regarding your participation all SMUXploration Crew activities.\n\nYou also consent to the disclosure of the personal data provided by you in this Telegram Bot, to SMU’s partners or affiliates and other third party service providers that SMU may engage from time to time. If any of the personal data provided by you through this Telegram Bot is disclosed to SMU’s partners or affiliates, and/or third party service providers, SMU will ensure that the disclosure is in accordance with the PDPA.\n\nIf you wish to find out more about SMU’s personal data protection policy, please view SMU’s Personal Data Protection Statement at http://www.smu.edu.sg/personal-data-protection. Should you wish at any time to withdraw your consent for the collection, use, and/or disclosure of your personal data after submitting using this Telegram Bot, please contact us at xplorationcrew@sa.smu.edu.sg ."
            }
        ],
        "language": "none",
        "x": 1040,
        "y": 880,
        "wires": [
            [
                "bc8995bc9593719d"
            ]
        ]
    },
    {
        "id": "47a2a35ad0a0c513",
        "type": "link in",
        "z": "a87b341c1947bfb2",
        "name": "",
        "links": [
            "7fae7b0a9f5e348c"
        ],
        "x": 915,
        "y": 880,
        "wires": [
            [
                "044a155083cee857"
            ]
        ]
    },
    {
        "id": "7a13c0da258680ac",
        "type": "comment",
        "z": "a87b341c1947bfb2",
        "name": "/pdpa",
        "info": "",
        "x": 950,
        "y": 840,
        "wires": []
    },
    {
        "id": "7fae7b0a9f5e348c",
        "type": "link out",
        "z": "a87b341c1947bfb2",
        "name": "/pdpa",
        "links": [
            "47a2a35ad0a0c513"
        ],
        "x": 935,
        "y": 1140,
        "wires": []
    },
    {
        "id": "53fd5d920f313a16",
        "type": "link out",
        "z": "a87b341c1947bfb2",
        "name": "",
        "links": [
            "154bd3f01ce93ae4"
        ],
        "x": 1315,
        "y": 780,
        "wires": []
    },
    {
        "id": "bc8995bc9593719d",
        "type": "link out",
        "z": "a87b341c1947bfb2",
        "name": "",
        "links": [
            "154bd3f01ce93ae4"
        ],
        "x": 1155,
        "y": 880,
        "wires": []
    },
    {
        "id": "d51adaa9e6e20855",
        "type": "chatbot-params",
        "z": "a87b341c1947bfb2",
        "name": "add markdown",
        "params": [
            {
                "platform": "telegram",
                "name": "parseMode",
                "value": "Markdown"
            },
            {
                "platform": "telegram",
                "name": "disableWebPagePreview",
                "value": true
            }
        ],
        "outputs": 1,
        "x": 1200,
        "y": 780,
        "wires": [
            [
                "53fd5d920f313a16"
            ]
        ]
    },
    {
        "id": "4fc5f57cf6965ce0",
        "type": "chatbot-message",
        "z": "a87b341c1947bfb2",
        "name": "check against idpair",
        "message": [
            {
                "message": ""
            }
        ],
        "language": "none",
        "x": 800,
        "y": 1360,
        "wires": [
            [
                "a121ef6cb48a5ef8",
                "efdb32892ab62e88"
            ]
        ]
    },
    {
        "id": "a121ef6cb48a5ef8",
        "type": "chatbot-message",
        "z": "a87b341c1947bfb2",
        "name": "user found",
        "message": [
            {
                "message": ""
            }
        ],
        "language": "none",
        "x": 1010,
        "y": 1340,
        "wires": [
            [
                "4ae16ca783dc83db"
            ]
        ]
    },
    {
        "id": "efdb32892ab62e88",
        "type": "chatbot-message",
        "z": "a87b341c1947bfb2",
        "name": "user not found",
        "message": [
            {
                "message": ""
            }
        ],
        "language": "none",
        "x": 1020,
        "y": 1400,
        "wires": [
            [
                "79f2f08255a8a42f",
                "54de9b222210e041",
                "85bc9e0932004d26"
            ]
        ]
    },
    {
        "id": "d31d5eb1d601c310",
        "type": "chatbot-message",
        "z": "a87b341c1947bfb2",
        "name": "current flow",
        "message": [
            {
                "message": ""
            }
        ],
        "language": "none",
        "x": 1430,
        "y": 1380,
        "wires": [
            [
                "41d3ecce3ef29371"
            ]
        ]
    },
    {
        "id": "2608250a01b7a80f",
        "type": "chatbot-message",
        "z": "a87b341c1947bfb2",
        "name": "refreshes utid recid pairs, check again",
        "message": [
            {
                "message": ""
            }
        ],
        "language": "none",
        "x": 1510,
        "y": 1440,
        "wires": [
            [
                "4fc5f57cf6965ce0",
                "6c01c69e0658cfca"
            ]
        ]
    },
    {
        "id": "170ae80f9a694aad",
        "type": "inject",
        "z": "a87b341c1947bfb2",
        "name": "initialise",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"fields\":[\"utid\", \"Full Name\"],\"filterByFormula\":\"NOT({utid} = '')\"}",
        "payloadType": "json",
        "x": 260,
        "y": 100,
        "wires": [
            [
                "3968cd0d85ed5ff2"
            ]
        ]
    },
    {
        "id": "75c0cec4b173ac57",
        "type": "airtable out",
        "z": "a87b341c1947bfb2",
        "airtable": "9ef52be8e50ac20f",
        "operation": "select",
        "outputType": "array",
        "table": "Members",
        "name": "Get user record",
        "x": 620,
        "y": 100,
        "wires": [
            [
                "19260dd586e65b81",
                "8641e162ae5892bb"
            ]
        ]
    },
    {
        "id": "8641e162ae5892bb",
        "type": "debug",
        "z": "a87b341c1947bfb2",
        "name": "bar",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 200,
        "wires": []
    },
    {
        "id": "6b17692cc914b18e",
        "type": "change",
        "z": "a87b341c1947bfb2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "pairs",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 100,
        "wires": [
            [
                "57ea17e6dd74e495"
            ]
        ]
    },
    {
        "id": "57ea17e6dd74e495",
        "type": "change",
        "z": "a87b341c1947bfb2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "pairs",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200,
        "y": 100,
        "wires": [
            [
                "3f02aa04ddb07467"
            ]
        ]
    },
    {
        "id": "3f02aa04ddb07467",
        "type": "debug",
        "z": "a87b341c1947bfb2",
        "name": "view flow.pairs",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 100,
        "wires": []
    },
    {
        "id": "07d30cb3019b40fe",
        "type": "link in",
        "z": "a87b341c1947bfb2",
        "name": "trigger memory refresh",
        "links": [
            "435f6cc7922f111e",
            "788c63709f54599e"
        ],
        "x": 195,
        "y": 180,
        "wires": [
            [
                "3968cd0d85ed5ff2",
                "5785fb098293c70e"
            ]
        ]
    },
    {
        "id": "4ae16ca783dc83db",
        "type": "chatbot-message",
        "z": "a87b341c1947bfb2",
        "name": "message filter",
        "message": [
            {
                "message": ""
            }
        ],
        "language": "none",
        "x": 1200,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "23b64593daf9fb9a",
        "type": "chatbot-message",
        "z": "a87b341c1947bfb2",
        "name": "tele receiver",
        "message": [
            {
                "message": ""
            }
        ],
        "language": "none",
        "x": 450,
        "y": 1360,
        "wires": [
            [
                "4fc5f57cf6965ce0"
            ]
        ]
    },
    {
        "id": "41d3ecce3ef29371",
        "type": "chatbot-message",
        "z": "a87b341c1947bfb2",
        "name": "flow.prompted = true",
        "message": [
            {
                "message": ""
            }
        ],
        "language": "none",
        "x": 1640,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "79f2f08255a8a42f",
        "type": "chatbot-message",
        "z": "a87b341c1947bfb2",
        "name": "prompted == false",
        "message": [
            {
                "message": ""
            }
        ],
        "language": "none",
        "x": 1250,
        "y": 1380,
        "wires": [
            [
                "d31d5eb1d601c310"
            ]
        ]
    },
    {
        "id": "54de9b222210e041",
        "type": "chatbot-message",
        "z": "a87b341c1947bfb2",
        "name": "prompted == true",
        "message": [
            {
                "message": ""
            }
        ],
        "language": "none",
        "x": 1230,
        "y": 1440,
        "wires": [
            [
                "2608250a01b7a80f"
            ]
        ]
    },
    {
        "id": "6c01c69e0658cfca",
        "type": "chatbot-message",
        "z": "a87b341c1947bfb2",
        "name": "flow.refreshed = true",
        "message": [
            {
                "message": ""
            }
        ],
        "language": "none",
        "x": 2020,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "85bc9e0932004d26",
        "type": "chatbot-message",
        "z": "a87b341c1947bfb2",
        "name": "refreshed == true",
        "message": [
            {
                "message": ""
            }
        ],
        "language": "none",
        "x": 1230,
        "y": 1480,
        "wires": [
            [
                "76a1c640d5c7a16e"
            ]
        ]
    },
    {
        "id": "76a1c640d5c7a16e",
        "type": "chatbot-message",
        "z": "a87b341c1947bfb2",
        "name": "prompt again",
        "message": [
            {
                "message": ""
            }
        ],
        "language": "none",
        "x": 1430,
        "y": 1480,
        "wires": [
            [
                "4fc5f57cf6965ce0",
                "1b6cbbfeba8daadd"
            ]
        ]
    },
    {
        "id": "1b6cbbfeba8daadd",
        "type": "chatbot-message",
        "z": "a87b341c1947bfb2",
        "name": "flow.refreshed = false",
        "message": [
            {
                "message": ""
            }
        ],
        "language": "none",
        "x": 1640,
        "y": 1480,
        "wires": [
            []
        ]
    },
    {
        "id": "8c807706e4e0e414",
        "type": "function",
        "z": "a87b341c1947bfb2",
        "name": "findutid in pairs",
        "func": "var dict = flow.get(\"pairs\");\nmsg.found = false;\ntry {\n    if (dict.hasOwnProperty(msg.originalMessage.from.id)) {\n        msg.found = true;\n        // console.log(\"found\");\n    }\n} catch(e) {\n    console.log(e.message);\n}\n// console.log(\"finally\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 1120,
        "wires": [
            [
                "9cfd9eb6ee3b5822"
            ]
        ]
    },
    {
        "id": "19260dd586e65b81",
        "type": "function",
        "z": "a87b341c1947bfb2",
        "name": "build pairs dict",
        "func": "var dict = new Object();\nfor (var i = 0; i < msg.payload.length; i++) {\n    dict[msg.payload[i].fields.utid] = new Object();\n    dict[msg.payload[i].fields.utid].id = msg.payload[i].id;\n    dict[msg.payload[i].fields.utid].name = msg.payload[i].fields[\"Full Name\"];\n}\n// console.log(\"here\");\n// console.log(JSON.stringify(dict));\nmsg.payload = dict;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 100,
        "wires": [
            [
                "6b17692cc914b18e"
            ]
        ]
    },
    {
        "id": "9cfd9eb6ee3b5822",
        "type": "switch",
        "z": "a87b341c1947bfb2",
        "name": "found?",
        "property": "found",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": true,
        "outputs": 2,
        "x": 590,
        "y": 1120,
        "wires": [
            [
                "1aa15878fa8cb82f"
            ],
            [
                "e90293ac3bcecb12"
            ]
        ]
    },
    {
        "id": "6c713c605de85f50",
        "type": "chatbot-message",
        "z": "a87b341c1947bfb2",
        "name": "welcome",
        "message": [
            {
                "message": "Welcome, "
            },
            {
                "message": "Hello, "
            },
            {
                "message": "Howdy, "
            }
        ],
        "language": "none",
        "x": 1020,
        "y": 460,
        "wires": [
            [
                "7bc37a0d12f30e8f"
            ]
        ]
    },
    {
        "id": "615524b78415fcc0",
        "type": "link out",
        "z": "a87b341c1947bfb2",
        "name": "request commands",
        "links": [
            "cd19e85e934feaf3"
        ],
        "x": 1315,
        "y": 460,
        "wires": []
    },
    {
        "id": "7bc37a0d12f30e8f",
        "type": "function",
        "z": "a87b341c1947bfb2",
        "name": "add name from dict",
        "func": "var dict = flow.get(\"pairs\");\nmsg.payload.content += dict[msg.originalMessage.from.id].name + \"!\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 460,
        "wires": [
            [
                "615524b78415fcc0"
            ]
        ]
    },
    {
        "id": "e90293ac3bcecb12",
        "type": "chatbot-message",
        "z": "a87b341c1947bfb2",
        "name": "sign up prompt",
        "message": [
            {
                "message": "Hello {{firstName}}! Welcome to the SMUXploration Crew Bot! It seems like this is your first time, [please tap here to sign up](https://airtable.com/shrVCvhRsH701DBdl).\n\nThis is your unique Telegram code (do not share it with anyone!):"
            }
        ],
        "language": "none",
        "x": 760,
        "y": 1260,
        "wires": [
            [
                "032f80bc7112a821"
            ]
        ]
    },
    {
        "id": "032f80bc7112a821",
        "type": "chatbot-message",
        "z": "a87b341c1947bfb2",
        "name": "tele code",
        "message": [
            {
                "message": "```{{userId}}```"
            }
        ],
        "language": "none",
        "x": 920,
        "y": 1260,
        "wires": [
            [
                "fd06cc132ebb529e"
            ]
        ]
    },
    {
        "id": "fd06cc132ebb529e",
        "type": "chatbot-params",
        "z": "a87b341c1947bfb2",
        "name": "add markdown",
        "params": [
            {
                "platform": "telegram",
                "name": "parseMode",
                "value": "Markdown"
            },
            {
                "platform": "telegram",
                "name": "disableWebPagePreview",
                "value": true
            }
        ],
        "outputs": 1,
        "x": 1080,
        "y": 1260,
        "wires": [
            [
                "f5cdee4a9f14aeb1",
                "788c63709f54599e"
            ]
        ]
    },
    {
        "id": "f5cdee4a9f14aeb1",
        "type": "link out",
        "z": "a87b341c1947bfb2",
        "name": "sign up end point",
        "links": [
            "154bd3f01ce93ae4"
        ],
        "x": 1235,
        "y": 1260,
        "wires": []
    },
    {
        "id": "f394103b32085cf5",
        "type": "comment",
        "z": "a87b341c1947bfb2",
        "name": "old user handling",
        "info": "",
        "x": 740,
        "y": 1720,
        "wires": []
    },
    {
        "id": "18789953b0cbafec",
        "type": "link in",
        "z": "a87b341c1947bfb2",
        "name": "get user info",
        "links": [
            "ce4f9657c9bd5433"
        ],
        "x": 915,
        "y": 460,
        "wires": [
            [
                "6c713c605de85f50"
            ]
        ]
    },
    {
        "id": "7aed42d856b3adc5",
        "type": "debug",
        "z": "a87b341c1947bfb2",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 880,
        "wires": []
    },
    {
        "id": "7041c16ccf81de33",
        "type": "function",
        "z": "a87b341c1947bfb2",
        "name": "logger function",
        "func": "msg.payload = JSON.stringify(msg.originalMessage, null, \" | \");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 880,
        "wires": [
            [
                "7aed42d856b3adc5"
            ]
        ]
    },
    {
        "id": "3968cd0d85ed5ff2",
        "type": "function",
        "z": "a87b341c1947bfb2",
        "name": "select params",
        "func": "msg.payload = {\"fields\":[\"utid\", \"Full Name\"],\"filterByFormula\":\"NOT({utid} = '')\"};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 100,
        "wires": [
            [
                "75c0cec4b173ac57"
            ]
        ]
    },
    {
        "id": "a7877f7b0225beb7",
        "type": "chatbot-rules",
        "z": "a87b341c1947bfb2",
        "name": "refresh?",
        "rules": [
            {
                "type": "command",
                "command": "/refresh"
            },
            {
                "type": "catchAll"
            }
        ],
        "outputs": 2,
        "x": 260,
        "y": 1120,
        "wires": [
            [
                "435f6cc7922f111e"
            ],
            [
                "8c807706e4e0e414"
            ]
        ]
    },
    {
        "id": "435f6cc7922f111e",
        "type": "link out",
        "z": "a87b341c1947bfb2",
        "name": "",
        "links": [
            "07d30cb3019b40fe",
            "272c3b122f11fdcb"
        ],
        "x": 375,
        "y": 1060,
        "wires": []
    },
    {
        "id": "788c63709f54599e",
        "type": "link out",
        "z": "a87b341c1947bfb2",
        "name": "",
        "links": [
            "07d30cb3019b40fe",
            "272c3b122f11fdcb"
        ],
        "x": 1235,
        "y": 1200,
        "wires": []
    },
    {
        "id": "31178ee47cf081c8",
        "type": "comment",
        "z": "a87b341c1947bfb2",
        "name": "note",
        "info": "it will always pick the first record that matches the user's utid. all subsequent records must be manually cleared by an admin",
        "x": 1390,
        "y": 520,
        "wires": []
    },
    {
        "id": "4ed7cbe321f20aeb",
        "type": "catch",
        "z": "a87b341c1947bfb2",
        "name": "todo: make nice date format",
        "scope": null,
        "uncaught": false,
        "x": 2400,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "8af6f131be295073",
        "type": "inject",
        "z": "a87b341c1947bfb2",
        "name": "initialise",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"fields\":[\"Activity Type\",\"Activity Location\",\"Start Date Time\",\"edmlink\",\"uaid\"],\"filterByFormula\":\"{isopen}='1'\"}",
        "payloadType": "json",
        "x": 260,
        "y": 260,
        "wires": [
            [
                "5785fb098293c70e"
            ]
        ]
    },
    {
        "id": "5785fb098293c70e",
        "type": "function",
        "z": "a87b341c1947bfb2",
        "name": "select params",
        "func": "msg.payload = {\"fields\":[\"Activity Type\",\"Activity Location\",\"Start Date Time\",\"edmlink\",\"uaid\",\"Activity Signups\"],\"filterByFormula\":\"{isopen}='1'\"};\n//msg.payload = {\"fields\":[\"Name\",\"Gender\",\"Team\"],\"filterByFormula\":\"{utid}='\"+userId+\"'\"};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 260,
        "wires": [
            [
                "9ad98de4f7e0734c"
            ]
        ]
    },
    {
        "id": "9ad98de4f7e0734c",
        "type": "airtable out",
        "z": "a87b341c1947bfb2",
        "airtable": "9ef52be8e50ac20f",
        "operation": "select",
        "outputType": "array",
        "table": "Activities",
        "name": "Get activity records",
        "x": 630,
        "y": 260,
        "wires": [
            [
                "a8cf61ae61321860",
                "367818e51eef4cc1"
            ]
        ]
    },
    {
        "id": "367818e51eef4cc1",
        "type": "function",
        "z": "a87b341c1947bfb2",
        "name": "build activities dict",
        "func": "var dict = {};\nfor (var i = 0; i < msg.payload.length; i++) {\n    var key = msg.payload[i].fields.uaid;\n    dict[key] = {};\n    dict[key].dt = msg.payload[i].fields[\"Start Date Time\"];\n    dict[key].at = msg.payload[i].fields[\"Activity Type\"];\n    dict[key].al = msg.payload[i].fields[\"Activity Location\"];\n    dict[key].edm = msg.payload[i].fields.edmlink;\n    dict[key].id = \"rec\" + key;\n    dict[key].signups =  msg.payload[i].fields[\"Activity Signups\"];\n}\n// console.log(\"here\");\n// console.log(JSON.stringify(dict));\nflow.set(\"activities\", dict);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 260,
        "wires": [
            [
                "75f451ac161736bd",
                "4b7b5e378beef5ca"
            ]
        ]
    },
    {
        "id": "a8cf61ae61321860",
        "type": "debug",
        "z": "a87b341c1947bfb2",
        "name": "bar",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 360,
        "wires": []
    },
    {
        "id": "f9ddf086161f810c",
        "type": "change",
        "z": "a87b341c1947bfb2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "activities",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 220,
        "wires": [
            [
                "4b7b5e378beef5ca",
                "75f451ac161736bd"
            ]
        ]
    },
    {
        "id": "4b7b5e378beef5ca",
        "type": "change",
        "z": "a87b341c1947bfb2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "activities",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1300,
        "y": 260,
        "wires": [
            [
                "b270d8caeccd840b"
            ]
        ]
    },
    {
        "id": "b270d8caeccd840b",
        "type": "debug",
        "z": "a87b341c1947bfb2",
        "name": "view flow.activities",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1490,
        "y": 260,
        "wires": []
    },
    {
        "id": "75f451ac161736bd",
        "type": "function",
        "z": "a87b341c1947bfb2",
        "name": "build activities list",
        "func": "var str = \"*Activities available:*\\n\\n\";\nvar a = flow.get(\"activities\");\nfor (const key in a) {\n    str += a[key].at + \" | [Details](\" + a[key].edm + \")\\n\";\n    str += a[key].al + \"\\n\";\n    str += a[key].dt + \"\\n\";\n    str += \"/join\\\\_\" +key + \"\\n\\n\";\n}\nmsg.payload = str.trim();\nflow.set(\"alist\", str);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 180,
        "wires": [
            [
                "0bf613885b8621bf"
            ]
        ]
    },
    {
        "id": "0bf613885b8621bf",
        "type": "debug",
        "z": "a87b341c1947bfb2",
        "name": "view flow.alist",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1500,
        "y": 180,
        "wires": []
    },
    {
        "id": "20dbada0831903f5",
        "type": "chatbot-params",
        "z": "a87b341c1947bfb2",
        "name": "add markdown",
        "params": [
            {
                "platform": "telegram",
                "name": "parseMode",
                "value": "Markdown"
            },
            {
                "platform": "telegram",
                "name": "disableWebPagePreview",
                "value": true
            }
        ],
        "outputs": 1,
        "x": 2560,
        "y": 880,
        "wires": [
            [
                "56225c5e7455a971"
            ]
        ]
    },
    {
        "id": "b98084a124a345a7",
        "type": "function",
        "z": "a87b341c1947bfb2",
        "name": "craft message",
        "func": "msg.payload.content += flow.get(\"alist\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2360,
        "y": 880,
        "wires": [
            [
                "20dbada0831903f5",
                "4ac7a03063ebd3ee"
            ]
        ]
    },
    {
        "id": "fdd2ed4f96653f91",
        "type": "function",
        "z": "a87b341c1947bfb2",
        "name": "",
        "func": "var activities = flow.get(\"activities\");\nmsg.activityOpen = false;\nif (activities.hasOwnProperty(msg.commandParams)) {\n    msg.activityOpen = true;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1400,
        "y": 660,
        "wires": [
            [
                "6ade8671e5535a1b"
            ]
        ]
    },
    {
        "id": "247ef4b34b8cfc45",
        "type": "comment",
        "z": "a87b341c1947bfb2",
        "name": "unrecognised command",
        "info": "",
        "x": 1480,
        "y": 700,
        "wires": []
    },
    {
        "id": "f6d037db44eaad80",
        "type": "chatbot-message",
        "z": "a87b341c1947bfb2",
        "name": "found, sign up",
        "message": [
            {
                "message": "found"
            }
        ],
        "language": "none",
        "x": 2660,
        "y": 680,
        "wires": [
            [
                "4c9107a9dd15aebd"
            ]
        ]
    },
    {
        "id": "4ac7a03063ebd3ee",
        "type": "debug",
        "z": "a87b341c1947bfb2",
        "name": "bar",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2510,
        "y": 940,
        "wires": []
    },
    {
        "id": "4d778f18fea208db",
        "type": "debug",
        "z": "a87b341c1947bfb2",
        "name": "foo",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2550,
        "y": 580,
        "wires": []
    },
    {
        "id": "590f1a761e437246",
        "type": "airtable out",
        "z": "a87b341c1947bfb2",
        "airtable": "9ef52be8e50ac20f",
        "operation": "create",
        "outputType": "array",
        "table": "Activity Signups",
        "name": "add sign up",
        "x": 2430,
        "y": 660,
        "wires": [
            [
                "4d778f18fea208db"
            ]
        ]
    },
    {
        "id": "eae286ea06837d7f",
        "type": "function",
        "z": "a87b341c1947bfb2",
        "name": "sign up for activity",
        "func": "var idpairs = flow.get(\"pairs\");\nvar partid = idpairs[msg.originalMessage.from.id].id;\nconsole.log(partid);\nconsole.log(msg.commandParams);\nmsg.payload = {\"Status\": \"Signed up\", \"Activity\": [\"rec\" + msg.commandParams], \"Participant Name\": [partid]};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2130,
        "y": 660,
        "wires": [
            [
                "590f1a761e437246"
            ]
        ]
    },
    {
        "id": "d9c762a902b4a691",
        "type": "catch",
        "z": "a87b341c1947bfb2",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 2090,
        "y": 480,
        "wires": [
            [
                "2fbe87819d107708"
            ]
        ]
    },
    {
        "id": "2fbe87819d107708",
        "type": "debug",
        "z": "a87b341c1947bfb2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2260,
        "y": 460,
        "wires": []
    },
    {
        "id": "650d254eb6df5ae4",
        "type": "comment",
        "z": "a87b341c1947bfb2",
        "name": "old activity handling",
        "info": "",
        "x": 750,
        "y": 1940,
        "wires": []
    }
]